html, body, form {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;   
            font-size: 12pt;
            background-color:#2D3439;
            color:white;
        }

.page_outer{
            top: 70px;
            left :0px;
            right: 0px;
            bottom: 0px;
            margin: 0px;
            padding: 0px;
            background-color: #6600FF;
            height: 100%;
}


.page_header{            
            background-color: #FF671D;
            color:white;
            font-size: 12pt;
            padding:0px;
            top:0px;
            left:0px;
            right:0px;
            height: 70px;
             vertical-align:middle;
}
#header_content_right{
            vertical-align:middle;
            float: right;
            padding:8px 10px;
}
.page_sub_header{
            top: 0px;
            left :0px;
            right: 0px;
            height: 40px;
            background-color: #757575;
            color:white;
            font-size: 12pt;
            padding: 0px;
            /*background: linear-gradient(#757575, #757575, #2C3338 );*/
            
}

#div_main_container{
            top: 70px;
            left :0px;
            bottom: 0px;
            right: 0px;
            height: calc(100% - 70px);
}

.page_left_toolbar{
            float:left;
            top: 70px;
            left :0px;
            bottom: 0px;
            
            width: 60px;
            height: 100%;

            background-color: #FF671D;
            color:white;
            font-size: 12pt;
            padding: 0px;
}
.page_main{
            float:right;
            top: 70px;
            bottom: 0px;
            right:0px;            
            width: calc(100% - 60px);
            height: 100%;

            background-color: #2C3338;
            color:white;
            font-size: 12pt;
            padding: 0px;
}


.div_main_top_panel_tiles{
            top: 70px;
            left :0px;
            bottom: 0px;
            right: 0px;
            height: 150PX;
            background-color: #2C3338;
}




